.Dimer {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1 px 1px 1px 1px;
  background-color: lightgray;
  width: 50%;
  text-align: center;
}
.Jelle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1 px 1px 1px 1px;
  background-color: white;
  width: 50%;
  text-align: center;
}
.Tzanto {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1 px 1px 1px 1px;
  background-color: white;
  width: 50%;
  text-align: center;
}
.Erwin {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1 px 1px 1px 1px;
  background-color: white;
  width: 50%;
  text-align: center;
}